*{
    margin:0;
    padding:0;
    font-family: 'Times New Roman', Times, serif;
}

.nav-bar{
    display : flex ;
    align-items : center ;
    justify-content : space-around;
    /* border-bottom: 1px solid black; */
    box-shadow:5px 8px 10px rgba(0,0,0,0.1) ;
}
#logo{
height:3rem;
margin-top: .2rem;
margin-bottom: 1rem;
}
.nav-bar .nav-ops{
    align-items: center;
}

.nav-bar .nav-ops a{
    text-decoration: none;
    color:black;
    font-size: 1.5rem;
    margin-left: 1rem;
    
}
.nav-bar .icons{
    display: flex;
    align-items: center;
}

.nav-bar .icons i{
  font-size: 1.5rem;
  margin-left: 1rem;
}


.content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.content .part-1{
    margin-top: 15rem;
    margin-left: 5rem;
    height: 5rem;
    width: 50%;
}
.content .part-1 .btn{
    margin-top:8rem;
    background-color:#FFC000;
    border: none;
    padding:.3rem;
    border-radius: 2px;
    word-spacing: 3px;
    color: white;
}
.content .part-2{
    margin-right: 3rem;
    height: 5rem;
    width: 50%;

}